<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean name="customerService" class="com.home.tutorial.spring.service.CustomerServiceImpl">
		<property name="customerRepository" ref="customerRepository"></property>
		<!-- <constructor-arg index="0" ref="customerRepository"/>  --> <!-- Constructor Injection -->
	</bean>
	
	<!-- Auto Wiring Example Below -->
	<!-- <bean name="customerService" class="com.home.tutorial.spring.service.CustomerServiceImpl" autowire="byName"/>  -->
	<!-- <bean name="customerService" class="com.home.tutorial.spring.service.CustomerServiceImpl" autowire="constructor"/>  -->
	
	<bean name="customerRepository" class="com.home.tutorial.spring.repository.HibernateCustomerRepositoryImpl"/>
</beans>